/* Base
   ========================================================================== */

body {
	font-family: "Poppins", sans-serif;
}

img {
	max-width: 100%;
}

ul {
	padding-left: 22px;
}

/* Helper Classes */
._pt0 {
	padding-top: 0 !important;
}
._pb0 {
	padding-bottom: 0 !important;
}
._p0 {
	padding: 0 !important;
}
._m0 {
	margin: 0 !important;
}
._mt0 {
	margin-top: 0 !important;
}
._mb0 {
	margin-bottom: 0 !important;
}
._mb1 {
	margin-bottom: 1rem !important;
}
._mb2 {
	margin-bottom: 1.4rem !important;
}

//
._flex {
	display: flex;
	align-items: center;
}
._flex_space_btw {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
._grid {
	display: grid;
	align-content: center;
}
.center_content {
	display: grid;
	align-content: center;
	justify-content: center;
	text-align: center;
}
