@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

// IMPORTS
@import "./config";
@import "./base";
@import "./layout";

/*!----- COMPONENTS -------*/
#Home header,
#Review header {
	padding-bottom: 65px;
	margin: 0;
}

.bg_gray {
	background: #f5f5f5 !important;
}

.header_card {
	position: relative;
	top: -45px;
	@include flex_center;

	.card {
		width: 100%;
		// max-width: 420px;
	}
}

form {
	.form_actions {
		@include flex_space_between;

		& > * {
			width: 48%;
		}
	}
}

.product_details {
	margin: 12px 0;

	p {
		margin: 0 0 12px;
	}

	.rating {
		width: 100%;
		padding: 12px 14px;
		margin-top: 20px;
		margin-bottom: 12px;
		background: #eee;

		p {
			margin-bottom: 6px;
		}

		.review_count {
			opacity: 0.75;
			font-size: 15px;
			margin-left: 6px;
		}

		span.score {
			margin-left: 8px;
			font-weight: 500;
		}
	}
}

.recent_scans {
	.recent_scans_item {
		padding: 10px 12px;
		background: #f5f5f5;
		border-radius: 12px;

		img {
			width: 62px;
			margin-right: 18px;
		}
		.brand {
			margin: 0;
			font-size: 1rem;
			font-weight: 600;
		}
		p {
			margin: 0;
			margin-bottom: 5px;
		}
	}
}

/*!----- PAGES -------*/
#Home {
	.scan_qrcode {
		padding: 0;
		width: 100%;

		.card {
			padding: 32px 24px;
			display: grid;
			justify-items: center;

			.scan_icon {
				margin-bottom: 16px;
			}
		}
	}

	.start_review_card {
		padding: 12px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.61) 100%),
			url("./assets/img/review_bg.svg") no-repeat center;
		background-size: cover;
		margin-bottom: 36px;

		.heading {
			margin: 0;
		}
		.review_button {
			display: flex;
			align-items: center;
			width: fit-content;
			padding: 6px 0;
			font-weight: bold;

			.icon {
				margin-left: 4px;
			}
		}
	}

	&.dark {
		.start_review_card {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0.86) 100%),
				url("./assets/img/review_bg.svg") no-repeat center;
			background-size: cover;
		}
	}
}

#Review {
	.card {
		padding: 30px 14px;

		.OTPfield {
			margin-top: 18px;

			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			input[type="number"] {
				-moz-appearance: textfield;
			}
		}
		.mute_text {
			margin: 16px 0;
			font-size: 14px;
			color: #717171;
		}
	}
}

#Product {
	.product_reviews {
		// padding: 18px 0;
	}

	.review_list {
		.review_item {
			padding: 18px 15px;

			.review_header {
				margin-bottom: 14px;
				@include flex_space_between;
			}

			p.content {
				margin: 0;
			}

			.audio_div {
				height: 60px;
				border-radius: 12px;
				border: 1px solid #888;
				@include flex_center;
			}
			.audio_div,
			audio::-webkit-media-controls-panel {
				background-color: #eee;
			}
			audio::-webkit-media-controls-play-button {
				background-color: $primaryHover;
				border-radius: 50%;
			}
		}
	}
}

#Settings {
	.settingsItem {
		margin: 12px 0;
	}
}
//

/*!----- Dark Mode -------*/
.dark {
	.bg_gray {
		background: #222 !important;
	}

	.product_details .rating {
		background: #222;
	}

	.recent_scans_item {
		background: #222 !important;
	}
	.review_list .review_item {
		.audio_div {
			border: 1px solid #333 !important;
		}
		.audio_div,
		audio::-webkit-media-controls-panel {
			background-color: #ddd !important;
		}
	}
}

/*!----- MEDIA QUERIES -------*/
@include media_screen_sm {
}
@include media_screen_lg {
}
